* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}
body {
  background: #222;
}
.title {
  max-width: fit-content;
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin: 20px auto 0;
}
.card {
  width: 90%;
  max-width: 700px;
  background: linear-gradient(
    28deg,
    rgba(7, 0, 124, 1) 0%,
    rgba(9, 9, 121, 1) 23%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 40px 35px;
  text-align: center;
  transition: 1.5s ease;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 50px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 30px;
  font-size: 1.2em;
}
.search button {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img {
  width: 25px;
}
.weather {
  display: none;
}
.weather-icon {
  width: 200px;
  margin-top: 20px;
}
.weather h1 {
  font-size: 70px;
  font-weight: 500;
}
.weather h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: -10px;
}

.areawithflag {
  display: flex;
  margin-top: 25px;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row nowrap;
  gap: 10px;
}
.areawithflag h2 {
  text-transform: capitalize;
  line-height: 0.9em;
}
.country-flag {
  width: 35px;
  border: 1px #ffffff solid;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
}

.maininfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftside {
  width: 50%;
  height: 100%;
}
.rightside {
  display: block;
  max-width: fit-content;
  margin: 40px auto 0;
  width: 50%;
}

.feelslike {
  margin-top: 5px;
  font-style: italic;
  font-size: 16px;
}

.maincol {
  display: flex;
  text-align: left;
  margin: 30px auto;
  box-sizing: border-box;
  width: 100%;
}
.maincol img {
  width: max(50px, 20%);
  margin-right: 40px;
  object-fit: contain;
}
.maincol > div {
  width: 80%;
}
.maincol > p {
  font-size: 20px;
  font-weight: 600px;
}
.time,
.sunrise,
.sunset {
  margin-top: 0.8em;
  font-size: 25px;
  font-weight: 700;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
